zeroconf==0.24.4
ifaddr==0.1.6
#dbus-python==1.2.8
flask==1.0.2
flask-cors==3.0.7
Flask-RESTful==0.3.7
Flask-Jsonpify==1.5.0
flask-inputs==0.3.0
python-vlc==3.0.4106
omxplayer-wrapper==0.3.2
tinkerforge==2.1.20
pysrt==1.1.1
#numpy==1.15.4
# just this if numpy fails to install...
# nb: python3-numpy is installed in the base image...
# numpy
apscheduler==3.5.3
keyboard==0.13.2
ntplib==0.3.4
pause==0.2
phue==1.1
raven[flask]
requests-mock
pytest